<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Linak Control</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>

<ul data-subview="schedule" class="collapsible" data-collapsible="accordion"></ul>

<div class="fixed-action-btn">
    <a data-add class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a>
    <ul>
        <li><a data-delete-all class="btn-floating red"><i class="material-icons">delete</i></a></li>
    </ul>
</div>