<div class="biont-modal-bg">
    <div class="biont-modal-content z-depth-5 scale-transition scale-out">
        <div data-subview="content"></div>
        <div data-confirm class="waves-effect waves-light btn"><%= confirmBtnText %></div>
        <div data-cancel class="waves-effect waves-light btn"><%= closeBtnText %></div>
    </div>
</div>