<div class="biont-modal-bg">
    <div class="biont-modal-content z-depth-5 scale-transition scale-out">
        <div data-subview="content"></div>
        <div class="biont-modal-close waves-effect waves-light btn"><%= closeBtnText %></div>
    </div>
</div>