<div class="collapsible-header active"><i class="material-icons">filter_drama</i><span class="new badge">4</span>First</div>
<div class="collapsible-body">
	<%= time %>
	<div data-schedule-form></div>
	<div data-action="save" class="waves-effect waves-light btn"><i class="material-icons left">save</i>Save</div>
	<div data-action="remove" class="waves-effect waves-light btn"><i class="material-icons left">delete</i>Delete</div>
</div>
