<div class="row">
    <div data-subview="timepicker" class="col s5"></div>
    <div class="col s5">
        <label>Height
            <input
                    data-bind="height"
                    type="number"
                    value="<%= height %>"
                    min="0"
                    max="4948"
            ></label></div>
    <div class="col s2">
        <div data-action="test" data-tooltip="Test height." class="btn-floating btn-large waves-effect waves-light indigo">
            <i class="material-icons left">swap_vert</i></div>
    </div>

</div>
<div class="row">

    <p class="range-field col s12 ">
        <input
                data-bind="height"
                type="range"
                min="0"
                max="4948"
                value="<%= height %>"
        />
    </p>
</div>