<div data-subview="timepicker"></div>
<p class="range-field">
	<input
		data-bind="height"
		type="range"
		min="0"
		max="4948"
		value="<%= height %>"
	/>
</p>
<input
	data-bind="height"
	type="number"
	value="<%= height %>"
	min="0"
	max="4948"
>
<div data-action="test" class="waves-effect waves-light btn"><i class="material-icons left">question</i>Test</div>
