<div class="collapsible-header active"><i class="material-icons">filter_drama</i>
    <span class="badge"><span data-bind="time">--:--</span> / <span data-bind="height">--:--</span></span>
</div>
<div class="collapsible-body">
    <form data-schedule-form></form>
    <div data-action="save" class="waves-effect waves-light btn"><i class="material-icons left">save</i>Save</div>
    <div data-action="remove" class="waves-effect waves-light btn"><i class="material-icons left">delete</i>Delete</div>
</div>
