<input
        data-bind="time"
        id="<%= this.model.get('id') %>"
        value="<%= this.model.get('time') %>"
        class="timepicker"
        type="time"
>
<label for="<%= this.model.get('id') %>">Time</label>
