<div class="biont-modal-bg">
	<div class="biont-modal-content z-depth-5 scale-transition scale-out">
		<% if(header){ %>
		<h5><%= header %></h5>
		<% } %>
		<div data-subview="content"></div>
	</div>
</div>