
<p class="flow-text"><i class="material-icons large wiggle" style="float:left;">usb</i><%= text %></p>
<div class="valign-wrapper clearfix">
        <div class="preloader-wrapper big active" style="margin:0 auto">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
</div>