<input
        data-bind="time"

        id="<%= this.cid %>"
        value="<%= this.model.get('time') %>"
        class="timepicker active"
        type="time"
>
<label for="<%= this.cid %>">Time</label>
